{% extends "base.html" %}

{% block content %}
<div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <h2>Новости</h2>
            {% for news in news_list %}
            <h3><a href="{{ news.url }}">{{ news.title }}</a></h3>
            <p> {{ news.published.strftime('%d.%m.%Y') }}</p>
            <hr/>
            {% endfor %}
            </h2>
        </div>
        <div class="col-4">
            <h2>Прогноз погоды</h2>
            {% if weather %}
            {{ weather.temp_C }}, Ощущается как {{ weather.FeelsLikeC }}
            {% else %}
            Сервис погоды временно не доступен
            {% endif %}
        </div>
    </div>
{% endblock%}